{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel = "icon" href =  "{% static 'images/iitg.jpg' %}" type = "image/x-icon"> 
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    {% block listView %}
    {% endblock %}
    
</head>
<div style="min-height:75px; width:100%; position:relative">
    <div style="margin:25px 50px 0px; float:left;">
        <a style="padding-left:30px" href="https://www.iitg.ac.in"><img src="/static/images/iitg.jpg" style="width:auto; max-height:65px"></a>
    </div>
    <div style="font-size: 30px; font-family:Lato; position:absolute; bottom:0; padding-left:20px; left:50%; margin-left:-103px; color:#2D2F91; font-weight:bold; line-height:17px">
        <center>IIT GUWAHATI </center>
    </div>    
    <div title="Logout" style="margin:25px 50px 0px 0px; float:right; text-align:center; height:auto">
        <a style="padding-left:30px height:auto" href="/placement_portal/authentication/logout/"><i class="fa fa-sign-out" aria-hidden="true" style="width:auto; font-size:50px; color:#2D2F91;"></i></a>
    </div>
</div>    
<!--<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    padding: 20px;
    height: auto;
    position: relative;
    text-align:center;"> 
<div style="min-height:75px; width:100%; position:relative">
    <div style="margin:20px; ">
        <a style="padding-left:30px; width:10%" href="https://www.iitg.ac.in"><img src="{% static 'images/iitg.jpg' %}" style="width:auto; max-height:65px"></a>
    </div>
    <div style="font-size: 30px; font-family:Lato; bottom:0; padding:20px;width:auto; margin:auto; color:#2D2F91; font-weight:bold;">
        <center>IIT GUWAHATI </center>
    </div>    
    <div title="Logout" style="margin:20px;text-align:center; height:auto; width:20%">
        <a style="padding-left:30px height:auto" href="{% url 'authentication:logout' %}"><i class="fa fa-sign-out" aria-hidden="true" style="width:auto; font-size:50px; color:#2D2F91;"></i></a>
    </div>
</div>-->


<div style="min-height:60px; position:relative">
    <div style="font-size: 30px; font-family:Lato; position:absolute; bottom:0; padding:0 20px 20px; padding-left=0;width:100%; margin-top:0px; margin-left:auto; margin-right:auto; color:#2D2F91; line-height:17px">
        <center>Placement Statistics</center>
    </div>
</div> 

<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    height: 31.6px;
    position: relative;
    text-align:center;"> 
    <div  style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px;"  class="hovr"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:charts' %}">Dept. Wise</a></div>
    <!--<div style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:dayCharts' %}">Day Wise</a></div>-->
    <div  style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px;" class="hovr"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:showStudent' %}">List View</a></div>
</div>

<body style = "font-family:Arial, Helvetica, sans-serif;">
    {% block content %}
    {% endblock %}

    <footer>
        <div style="width:100%; background-color:#A2A3D3; color:#2D2F91">
            <p style="text-align:center; margin-bottom:0px;">
               Please contact Placement Cell(CCD) at placement@iitg.ac.in for any changes.
               
            </p>
         </div>
         <div style="width:100%; background-color:#A2A3D3; color:#2D2F91; margin:0;">

            <p style="text-align:center; margin-top:0px;">
               <a href="https://www.fb.com/swciitg" target="_blank" style="color:#2D2F91; text-decoration:none;">© SWC(Students' Web Committee)</a>  |   Designed by
               <a href="https://www.facebook.com/Miteshyv" target="_blank" style="color:#2D2F91; text-decoration:none; font-weight:bold">Mitesh</a></strong>
               
             |   Developed by 
                          <a href="https://www.facebook.com/coolgoel007" target="_blank" style="color:#2D2F91; text-decoration:none; font-weight:bold">   Sourav  Goel | </a>
                           <a href="https://www.facebook.com/pranav.gupta.9406417" target="_blank" style="color:#2D2F91; text-decoration:none; font-weight:bold">   Pranav Gupta | </a>
                <a href="https://www.facebook.com/rahul.mala.14" target="_blank" style="color:#2D2F91; text-decoration:none; font-weight:bold" >  Rahul Mala</a>
            </p>
         </div>
      </footer>
</body>

<script>
        $(".hovr").hover(function(){
          $(this).css("background-color", "#4648AA");
          },function(){
          $(this).css("background-color", "#2D2F91");
          });  
    </script>
</html>