{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel = "icon" href =  "{% static 'images/iitg.jpg' %}" type = "image/x-icon"> 
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block listView %}
    {% endblock %}
    
</head>


<div style="min-height:75px; width:100%; position:relative">
    <div style="margin:25px 50px 0px; float:left;">
        <a style="padding-left:30px" href="https://www.iitg.ac.in"><img src="{% static 'images/iitg.jpg' %}" style="width:auto; max-height:65px"></a>
    </div>
    <div title="Logout" style="margin:25px 50px 0px; float:right; text-align:center; height:auto">
        <a style="padding-left:30px height:auto" href="{% url 'authentication:logout' %}"><i class="fa fa-sign-out" aria-hidden="true" style="width:auto; font-size:50px; color:#2D2F91;"></i></a>
    </div>
</div>        
<div style="min-height:75px; position:relative">
    <div style="font-size: 30px; position:absolute; bottom:0; padding:20px; padding-left=0;width:100%;margin-left:auto; margin-right:auto; color:#2D2F91; font-weight:bold">
        <center>Number Of Students Placed</center>
    </div>
</div> 

<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    height: 31.6px;
    position: relative;
    text-align:center;"> 
    <div style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:charts' %}">Dept. Wise</a></div>
    <div style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:dayCharts' %}">Day Wise</a></div>
    <div style="background-color:#2D2F91; width:15%; margin:0px; padding:5px 5px 1px"><a style="color:#FFFFFF; text-decoration:none; font-size:15px" href="{% url 'home:showStudent' %}">List View</a></div>
</div>

<body style = "font-family:Arial, Helvetica, sans-serif;">
    {% block content %}
    {% endblock %}
</body>
</html>