{% extends 'home/base.html' %}
{% load static %}

{% block listView %}

  <style>
  input::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fff;
      padding-left: 4px;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #fff;
      padding-left: 4px;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #fff;
      padding-left: 4px;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fff;
      padding-left: 4px;
  }
  </style>
	<title>Students</title>

     <script src="{% static 'home/jquery-3.4.1.js' %}"></script>
     <script src="{% static 'home/ajaxStudentshow.js' %}"></script>
     <script src="{% static 'home/branchcheckshow.js' %}"></script>
     <script src="{% static 'home/tableStyle.js' %}"></script>
     <link rel="stylesheet" href="{% static 'home/tableStyle.css' %}">

{% endblock %}

{% block content %}

<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    position: relative;
    text-align:center;"> 

<div style="background-color:#ffffff; width:12%; margin:20px 50px; float:left; position:relative">
  <div style="background-color:#ffffff; float:left; width:70%">
  <form id="dsearchform" style="width:100% ">
    {% csrf_token %}
    <input type="text" id="searchStudent" name="search" placeholder="Search..." style="width:100%; height:20px; background-color:#2D2F91; color:white; padding:4px; border:none">
  </form>
  </div>
  <div style="background-color:#2D2F91; width:auto; float:left; height:28px ">
    <i class="fa fa-search" aria-hidden="true" style="color:white; font-size:15px; padding:6px 4px 4px"></i>
  </div>
</div>

<div style="background-color:#ffffff; width:12%; margin:20px 50px;">    
  <form id="branchsearchfor" style="width:100%">
    {% csrf_token %}
      <select name="Branch" id="select" style="width:100%; height:30px; background-color:#2D2F91; color:white; padding:4px;  box-sizing: border-box;">
          <option value="" id="blank">Branch</option>
          <option value="CSE" id="CSE">CSE</option>
          <option value="MNC" id="MNC">MNC</option>
          <option value="ECE" id="ECE">ECE</option>
          <option value="EEE" id="EEE">EEE</option>
          <option value="ME" id="ME">ME</option>
          <option value="CE" id="CE">CE</option>
          <option value="CL" id="CL">CL</option>
          <option value="EP" id="EP">EP</option>
          <option value="CST" id="CST">CST</option>
          <option value="BT" id="BT">BT</option>
      </select>
  </form>
</div>

<div style="background-color:#ffffff; width:12%; margin:20px 50px;">  
  <form id="branchsearchform" style="width:100% height:100%">
    {% csrf_token %}
    <select name="PNP" id="selectP" style="width:100%; height:30px; background-color:#2D2F91; color:white; padding:4px">
      <option value="" id="blank">Placed</option>
      <option value="True" id="Placed">Placed</option>
      <option value="False" id="NPlaces">Not Placed</option>
    </select>
  </form>
</div>
</div>

<div style="width:75%; margin-left:auto; margin-right:auto; display:block; margin-top:10px; min-height:auto">

    <div id="search_results"></div>
    <div id="branch_results"></div>

    <div id="isplacedlist" style="display: none">
        <ul >
	{% for student in students %}
        {% if student.placed is True %}
	<li>Name:
		
		 {{student.name}}
		
		<br>
		Branch: {{student.branch.get_branchName_display}}
		<br>
        Roll No: {{ student.roll}}
		<hr>

	</li>
        {% endif %}
	{% endfor %}
	</ul>

    </div>




<div id="mainlist">
<table>
  <thead>
  <tr class="table-headers">
    <th>Name</th>
    <th>Program</th>
    <th>Branch</th>
    <th>Roll No.</th>
    <th>Placed</th>
    <th>Company</th>
    <th>Day</th>
    <!--<th>Slot</th>
    <th>Sector</th>
    <th>Profile</th>-->
  </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <td>
         {{student.name}}
      </td>
      <td> {{ student.programs }}</td>
      <td> {{ student.branch }}</td>
      <td>{{ student.roll }}</td>
      {% if student.placed is False %}
      <td> {{ "Not Placed" }}</td>
      <td> {{ "-" }}</td>
      <td> {{ "-" }}</td>
      <!--<td> {{ "-" }}</td>
      <td> {{ "-"}}</td>
      <td> {{ "-" }}</td>-->
      {% else %}
      <td> {{ "Placed" }}</td>
      <td> {{ student.company }}</td>
      <td> {{ student.day }}</td>
      <!--<td> {{ student.slot }}</td>
      <td> {{ student.sector}}</td>
      <td> {{ student.profile }}</td>-->
    {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
</div>
<script>
    document.getElementById("dsearchform").reset();

</script>

{% endblock %}


